<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Nabeel" %></title>
<meta name="description" content="<%= content_for?(:description) ?
yield(:description) : "Nabeel" %>">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top">
<nav class="navbar-inner">
 
<div class="container">

</div>
</nav>
</head>
<main role="m</div>ain">
  

<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.username %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
    </div>
    <div>
      <% if user_signed_in? && current_user.admin? %>
   <%= link_to 'Contact', new_contact_path %>
<% else %>
   <li><%= link_to 'About', page_path('about') %>
<% end %>
    </div>
    

<div class="container">
<div class="content">
<div class="row">
  <%= render 'layouts/navigation' %>  
<div class="span12">
<%= render 'layouts/messages' %>

<%= yield %>
</div>
</div>
<footer>
</footer>
</div>
</div>
</main>
</body>
</html>

